{% extends 'base/base_pdf.html' %}
{% block extra-style %}
<style>
#tablas {
border-collapse: collapse;
width: 100%;
}
#tablas td, #tablas th {
border: 1px solid rgb(0, 0, 0);
padding: 5px;
}
#tablas th {
text-align: center;
background-color: rgb(119, 117, 131);
color: white;
}
</style>
{% endblock %} 
{% block page-title %} Módulo : {{ module_title }}{% endblock %}
{% block content-title %}<h1>Reporte - {{ section_title }}</h1>{% endblock %}
{% block content %}
<table id="tablas" repeat="1">
<thead>
<tr>
    <th> CÉDULA </th>
    <th> NOMBRES </th>
    <th> APELLIDOS </th>
    <th> SECTOR </th>
</tr>
</thead>
<tbody>
{% for Beneficiado in context_pdf %}
<tr>
    <td>{{ Beneficiado.id_beneficiado }}</td>
    <td>{{ Beneficiado.primer_nombre }} {{ Beneficiado.segundo_nombre }}</td>
    <td>{{ Beneficiado.primer_apellido }} {{ Beneficiado.segundo_apellido }}</td>
    <td>{{ Beneficiado.sector }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
