{% extends 'base/base_pdf.html' %}
{% block page-title %} Módulo : {{ module_title }}{% endblock %}
{% block content-title %}<h1>Reporte - {{ section_title }}</h1>{% endblock %}
{% block content %}
{% for Caja in context_pdf %}
<label for="id"><strong>ID : </strong></label>
{{ Caja.id }}
<p></p>
<label for="descripcion"><strong>Descripción : </strong></label>
{{ Caja.descripcion }}
<p></p>
<label for="articulos"><strong>Artículos : </strong></label>
{{ Caja.articulos }}
</div>
{% endfor %}
{% endblock %}
