{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}Módulo : {{ module_title }}{% endblock %}
{% block sidebar %}
<ul class="nav nav-sidebar">
  <li><a href="{% url 'base:home' %}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
</ul>
<ul class="nav nav-sidebar">
   <li><a href="{% url 'base:BeneficiadoList' %}"><span class="glyphicon glyphicon-user"></span> Beneficiados<span class="sr-only">(current)</span></a></li>
   <li><a href="{% url 'base:AsignarCajaList' %}"> Asignar Caja</a></li>
   <li><a href="{% url 'base:AsignarCursoList' %}"> Asignar Curso</a></li>
   <li class="active"><a href="{% url 'base:HistoricoEntregaList' %}"> Entrega de Cajas</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="{% url 'base:CajaList' %}"><span class="glyphicon glyphicon-inbox"></span> Cajas</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="{% url 'base:CursoList' %}"><span class="glyphicon glyphicon-education"></span> Cursos</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="{% url 'base:SectorList' %}"><span class="glyphicon glyphicon-road"></span> Sectores</a></li>
</ul>
{% endblock %}
{% block content %}
<h2 class="page-header">{{ section_title }}</h2>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"></div>
{% if messages %}
<ul>
   {% for message in messages %}
      <div class="alert alert-success" role="alert"><strong>{{ message }}</strong></div>
   {% endfor %}
</ul>
{% endif %}

<form action="{% url 'base:HistoricoEntregaList' %}" method="get" name="form">
{% csrf_token %}
<input type="submit" name="q" value="ok" class="btn btn-sm btn-default" title="Asignar cajas mensuales"></button>
</form>

<a class="btn btn-sm btn-default" href="{% url 'base:AsignarCajaPdfList' %}" title="Imprimir Listado" ><span class="glyphicon glyphicon-print"></span></a>
<div class="row placeholders">
   {% if object_list %}
   <table id="table" class="display compact" style="width:100%">
     <thead>
       <tr>
         <th> ID </th>
         <th> BENEFICIADO </th>
         <th> CAJA </th>
         <th> FECHA </th>
       </tr>
     </thead>
     <tbody>
     {% for HistoricoEntrega in object_list %}
       <tr>
         <td>{{ HistoricoEntrega.id }}</td>
         <td>{{ HistoricoEntrega.beneficiado }} </td>
         <td>{{ HistoricoEntrega.caja }} </td>
         <td>{{ HistoricoEntrega.created }} </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
   {% else %}
     <h4>No hay registros a mostrar</h4>
   {% endif %}
</div>
{% endblock %}
{% block extra-js %}<script src="{% static 'js/modal.js' %}"></script>{% endblock %}
